<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="resumecontainer">
        <br><br><br><br>
        <h2>Hello, Rohan Pawar</h2> 
  
    <h5> 
        Upload your resume here:- 
    </h5> 
    <br>
  
    <form action="/action_page.php" 
        enctype="multipart/form-data"> 
          <br>
        <label for="myfile">Select a file:</label>&nbsp;
        <input type="file" id="myfile" name="myfile" /> 
        <br /><br /> 
        <input type="submit" routerLink="/jobinternship"/> 
    </form> 
    <br>
    <h6>Only .pdf or .doc is allowed</h6>
    </div>
</body>
</html>