body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    background-color: darkturquoise;
}
.bigcontainer{
    background: url('aboutus.png'); /* Replace with your image URL */
    background-position: center;
    height: 35vh;
    margin: 0;
}

h2{
    text-align: center;
}

p{
    font-size: 22px;
    justify-content: center;
    margin-left:50px;
    margin-right:50px;
    color: white;
}

li{
    display: inline;
    font-size: 25px;
    color:red;
    font-weight: bolder;
    margin-left: 80px;
}

