<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="bigcontainer"></div>

    <br>

    <h2>Talent acquisition Transformed with AI</h2>

    <br>

    <p>
        At RightHire.com, we believe that the magic combination of cutting edge technology and passionately committed people can help our customers recruit the best talent and build outperforming teams. Our product, technology and services teams obsess about automation and removing roadblocks in the hiring life cycle.
    </p>
    <br>
    <div class="records">
        <h2>Digital transformation solutions for assessment and recruitment</h2><br>
        <li>10Mn+ Assessment</li>
        <li>800k+ Hires</li>
        <li>500k+ clients</li>
        <li>25k+ Employees with 5+ year of tenure</li>
    </div>
</body>
</html>