<style>
    label{
        font-weight: bold;
    }
    input{
        margin-bottom: 2px;
        margin-left: 5px;
    }
</style>

<div class="row" class="container" style="width: 48%;" >
    <div class="row">
        <h2 style="text-align: center;" >Login</h2>
        <hr/>
    </div>
      
           <div class="container mt" style="width: 50%">
              <form>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="text" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" class="form-control" id="stname" placeholder="Enter Email"/>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" class="form-control" id="stname" placeholder="Enter Password"/>
                  </div>
                <br>
                <div class="row justify-content-center">
                  <div class="form-group">
                    <button type="submit" class="btn btn-success" (click)="login()">Login</button>
                  </div>
                </div>
       
                </form>
           </div>
      </div>
  