<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer class="footer mt-auto py-3 bg-light">
        <div class="footer-menu">
          <a href="">Home</a> &nbsp;&nbsp;&nbsp;
          <a href="">F.A.Q</a> &nbsp;&nbsp;&nbsp;
          <a href="">Cookies Policy</a> &nbsp;&nbsp;&nbsp;
          <a href="">Terms Of Service</a> &nbsp;&nbsp;&nbsp;
          <a href="">Support</a>
        </div>
        <p>Copyright &copy; 2023</p>
      </footer>
</body>
</html>
